body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #11e8bb; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
}

.enter {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  font-size: 60px;
  font-family: 'Mina', sans-serif;

  /*-webkit-box-shadow: 7px 10px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 16px -8px rgba(0,0,0,0.75);*/

  background-image: #FC466B;
  background-image: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background-image: linear-gradient(to right, #3F5EFB, #FC466B);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:20vh;
}
.menu {
  border: 2px solid rgba(233, 184, 224, 0.8);
  /*width: 12%;
  height: 30vh;*/
  z-index: 100;
  border-radius: 2%;
  background: rgba(233, 184, 224, 0.6);
}

.instruct {
  padding: 3px;
  font-family: 'Mina', sans-serif;
  font-size: 17px;
}
